.addressDisplay {
    text-align: center;
    margin: 30px 0;
    font-size: 1.2rem; /* Larger base font size */
    color: #00ff00; /* Neon green text color */
  }
  
  .transactionTable {
    margin: 30px auto;
    border-collapse: collapse;
    width: 90%;
  }
  
  .transactionTable td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #00ff00; /* Neon green border */
  }
  
  .sendDetails {
    margin-top: 20px;
    font-size: 1.1em;
  }
  
  .payinAddressContainer {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the entire content */
    margin-top: 10px;
  }
  
  .payinAddressContainer span {
    flex-grow: 1;
    text-align: center; /* Center align the address */
  }
  
  .clipboardIcon {
    margin-left: 10px;
    cursor: pointer;
    color: #00ff00; /* Neon green color for the icon */
  }
  
  .copiedNotice {
    margin-left:120%;
    margin-top:10%;
    color: #00ff00; /* Neon green color */
    font-size: 1em;
    position:absolute;
  }
  
  .qrCodeContainer {
    margin: 30px auto;
  }
  
  .sentButton {
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: #00ff00;
    color: #000;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .sentButton:hover {
    background-color: #00cc00;
    transform: scale(1.05);
  }
  