.detailedCurrencyInfoContainer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    flex-direction: row;
}

.detailedCurrencyInfo {
    background-color: #000;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #00ff00;
    border: 1px solid #00ff00;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #00ff00 #000;
}

.detailedCurrencyInfo::-webkit-scrollbar {
    width: 6px;
}

.detailedCurrencyInfo::-webkit-scrollbar-track {
    background: #000;
}

.detailedCurrencyInfo::-webkit-scrollbar-thumb {
    background-color: #00ff00;
    border-radius: 3px;
}

.currencySection, .amountSection, .contractSection, .imageSection, .confirmationsSection {
    margin-bottom: 15px;
}

.currencyHeader {
    margin-bottom: 10px;
}

.currencyTicker {
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
}

.currencyFullName {
    font-size: 18px;
}

.amount {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00ff00;
}

.currencyImage {
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

.arrowIcon {
    font-size: 30px;
    color: #00ff00;
}

.confirmationsSection {
    visibility: hidden;
    height: 20px;
}

.confirmationsSection.visible {
    visibility: visible;
}

@media (max-width: 768px) {
    .detailedCurrencyInfoContainer {
        flex-direction: column;
        align-items: center;
    }

    .detailedCurrencyInfo {
        width: 100%;
        max-width: 300px;
        height: 350px;
        margin-bottom: 20px;
    }

    .arrowIcon {
        transform: rotate(90deg);
    }

    .confirmationsSection {
        margin-bottom: 0 !important;
    }
}