.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0a0a0a;
  color: #ff00ff; /* Change to a vibrant pink/purple color */
  font-family: 'Orbitron', sans-serif; /* Apply the Orbitron font */
  overflow: hidden;
  position: relative;
  padding: 20px;
  z-index: 1;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-size: 20px 20px;
  opacity: 0.1; /* Slightly increase opacity for a more vivid effect */
  z-index: 1;
}
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    
    max-width:1000px;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  
  .fadeIn {
    opacity: 1;
    transform: translateY(0);
  }
  
  .fadeOut {
    opacity: 0;
    transform: translateY(-20px);
  }
  
  .title {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 2rem;
    animation: fadeIn 2s ease-out;
  }
  .button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
 font-family: 'Orbitron', sans-serif; /* Apply the Orbitron font */
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index:9999;
  }

  

  .rateTypeOptionBarContainer {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.rateTypeOptionBar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 15px;
}

.inputWithTooltip {
    position: relative;
    display: flex;
    align-items: center;
}

.tooltipIcon {
    margin-left: 0px;
    margin-right:10px;
    color: #ff00ff; 
    cursor: pointer;
    font-size: 1.2em;
}
.rateTypeOptionBar{
    margin-inline:auto;
}

.tooltip {
    display: none;
    background-color: #1a1a1a;
    color: #ff00ff; 
    padding: 8px;
    border-radius: 4px;
    white-space: normal;
    z-index: 10;
    font-size: 0.9em;
    text-align: center;
    position: absolute;
    top: -40px; /* Position above the input */
    left: 0;
    width: 100%;
    transform: translateY(-10px);
    pointer-events: none; /* Allow clicks to pass through */
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Specific style for rate type tooltip */
.rateTypeTooltip {
    background-color: #1a1a1a;
    color: #ff00ff; 
    padding: 10px;
    border-radius: 6px;
    white-space: normal;
    z-index: 10;
    font-size: 0.9em;
    text-align: center;
    position: absolute;
    top: 50px; /* Position above the rate type options */
    left: 50%;
    transform: translateX(-50%) translateY(-10px);
    pointer-events: none; /* Allow clicks to pass through */
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.tooltiprate {
    display: none;
    position: absolute;
    left: 35px;
    top: -25px;
    background-color: #1a1a1a;
    color: #ff00ff; 
    padding: 8px;
    border-radius: 4px;
    pointer-events: none; /* Allow clicks to pass through the tooltip */

    white-space: nowrap;
    z-index: 1;
    font-size: 0.9em;
    min-width: max-content;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
.inputWithTooltip:hover .tooltip {
    display: block;
}

.inputField {
    flex-grow: 1;
}


  


  
  .currencyGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    margin-top: 30px;
    min-width:800px;
  }
  

   .swapButton, .inProgressButton, .sentButton {
    padding: 15px 25px;
    background-color: transparent;
    color: #ff00ff; 
    border: 2px solid #ff00ff; 
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.3); }


  

  .inProgressButton {
    position: relative;
    top: 5px;
   
    left: -200px;
    z-index:8848;
    padding: 15px 25px;
    background-color: transparent;
    color: #ff00ff; 
    border: 2px solid #ff00ff; 
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.3);
  }
  
  .inProgressButton:hover {
    background-color: #40a9ff;
  }
  .searchIcon {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    color: #ff00ff; 
    cursor: pointer;
    transition: all 0.3s ease;
    animation: glow 2s infinite alternate;
    z-index: 1000;
  }
  .searchInput {
    background-color:transparent;
    border:.5px solid #ff00ff; 
    color: #ff00ff; 
    font-size:2rem;
    border-radius:10px;
    width:100%;
    height:5rem;
    margin-top:50px;
    position:relative;
    margin-bottom:50px;
  }
  .spinIcon {
    animation: spin 1s linear infinite;
    margin-right: 8px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .backButton {
    position: absolute;
    top:0;
    margin-top:40px;


   
    
    z-index:888;
    padding: 15px 25px;
    background-color: transparent;
    z-index:9999;
    color: #ff00ff; 
    border: 2px solid #ff00ff; 
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.3);
  }
  /* Mobile styling for iPhones */

  .inputField {
  background-color: #1e1e1e; /* Dark background */
  color: #ff00ff;   /* Light text color */
  border: 1px solid #444444; /* Subtle border */
  border-radius: 4px; /* Rounded corners */
  padding: 10px; /* Padding inside the input */
  font-size: 16px; /* Consistent font size */
  width: 100%; /* Full width */
  box-sizing: border-box; /* Ensure padding and border are included in width */
}

.inputField:focus {
  outline: none; /* Remove default outline */
  border-color: #888888; /* Lighter border on focus */
  box-shadow: 0 0 5px #888888; /* Subtle shadow on focus */
}


/*detailed currency info */


.detailedCurrencyInfoContainer {
  margin-top: 50px; /* Ensure it’s well below the Swap Interface */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Space between the two boxes */
}
.detailedCurrencyInfoContainer img {
  margin-top: 50px; /* Ensure it’s well below the Swap Interface */
  display: flex;
  margin-inline:auto;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Space between the two boxes */
}


.currencyHeader {
  margin-bottom: 10px;
}

.currencyTicker {
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
}

.currencyFullName {
  font-size: 18px;
}

.amount {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowIcon {
  font-size: 30px; /* Larger arrow icon */
}



.swapInterface h2 {
  margin-bottom: 20px;
}

.inputField::placeholder {
  color: #ff00ff; ; /* Lighter placeholder text */
}
  .backButton:hover {
    background-color: transparent;
    color: #ff00ff;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.6);
  }
  
  .prompt {
    font-size: 1.2rem!important;
    margin-bottom: 20px;
    
    margin-top:55px;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 255, 0, 0.6);
  }
  
  .qrCodeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
  }
  
  .qrCodePlaceholder {
    width: 200px;
    height: 200px;
    background-color: transparent;
    border: 2px solid #ff00ff; 
    color: #ff00ff; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px #ff00ff; 
  }
  
  .modal {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000; /* Ensure modal is on top */
  }
  

  
  .button {
    padding: 0.8rem 2rem; /* Increased padding for larger buttons */
    border: none;
    border-radius: 25px; /* More rounded corners */
    cursor: pointer;
    transition: all 0.3s ease;
 font-family: 'Orbitron', sans-serif; /* Apply the Orbitron font */
    font-size: 2rem; /* Slightly larger font size */
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 9999;
  }
  
  .acceptButton {
    background-color: #0a0a0a;
    color: #ff00ff; /* Use the neon pink color for text */
    border: 2px solid #ff00ff; /* Add a neon border */
    padding: 10px 20px;
    font-family: 'Orbitron', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s, transform 0.3s;
    box-shadow: 0 0 10px rgba(255, 0, 255, 0.6), 0 0 20px rgba(255, 0, 255, 0.4); /* Pink glow effect */
  }
  
  .acceptButton:hover {
    background-color: #ff00ff; /* Invert background and text colors on hover */
    color: #0a0a0a;
    box-shadow: 0 0 20px rgba(255, 0, 255, 1), 0 0 30px rgba(255, 0, 255, 0.8); /* More intense glow */
    transform: scale(1.05); /* Slightly enlarge the button on hover */
  }
  
  .declineButton {
    background-color: #333;
    color: #00ffff; /* Neon blue for the decline button text */
    border: 2px solid #00ffff; /* Add a neon blue border */
    padding: 10px 20px;
    font-family: 'Orbitron', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s, transform 0.3s;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.6), 0 0 20px rgba(0, 255, 255, 0.4); /* Blue glow effect */
  }
  
  .declineButton:hover {
    background-color: #00ffff; /* Invert background and text colors on hover */
    color: #0a0a0a;
box-shadow: 0 0 20px rgb(0, 0, 0), 0 0 30px rgba(255, 255, 255, 0.4); /* More intense glow */
    transform: scale(1.05); /* Slightly enlarge the button on hover */
  }
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
  }
  




.rateTypeOptionBar {
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: 1px solid #ff00ff; 
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
}

.rateTypeOptionBar label {
    flex: 1;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #ff00ff; 
 font-family: 'Orbitron', sans-serif; /* Apply the Orbitron font */
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
}

.rateTypeOptionBar label:not(:last-child) {
    border-right: 1px solid #ff00ff; 
}

.rateTypeOptionBar label:hover {
    background-color: rgba(0, 255, 0, 0.1);
}

.rateTypeOptionBar label.active {
    background-color: #003300;
box-shadow: 0 0 20px rgb(0, 0, 0), 0 0 30px rgba(255, 255, 255, 0.4); /* More intense glow */
    color: #ff00ff; 
}

.rateTypeOptionBar label.active::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 49%, #00ff00 49%, #00ff00 51%, transparent 51%);
    background-size: 4px 4px;
    opacity: 0.2;
}

.rateTypeOptionBar input[type="radio"] {
    display: none;
}

/* Add a subtle pulsating animation for the active state */
@keyframes pulse {
  0% {
      box-shadow: 
          0 0 10px #ff00ff,  /* Neon pink soft glow */
          0 0 20px #a020f0;  /* Neon purple outer glow */
  }
  50% {
      box-shadow: 
          0 0 15px #ff00ff,  /* Stronger neon pink soft glow */
          0 0 25px #ff00ff,  /* Stronger neon pink medium glow */
          0 0 35px #a020f0;  /* Stronger neon purple outer glow */
  }
  100% {
      box-shadow: 
          0 0 10px #ff00ff,  /* Neon pink soft glow */
          0 0 20px #a020f0;  /* Neon purple outer glow */
  }
}

.rateTypeOptionBar label.active {
    animation: pulse 2s infinite;
}
  /* Increase the size of the entire swap interface */
  /* Style the entire swap interface */
  .swapInterface {
    background-color: transparent;; /* Dark background matching the statusDisplay */
    border-radius: 8px;
    padding: 20px;
    min-width: max-content;
 
    margin: 0 auto;
    box-shadow: 0 0 20px rgb(0, 0, 0), 0 0 30px rgba(255, 255, 255, 0.4); /* More intense glow */
    color: #ff00ff;  /* Neon green text color */
    border: 2px solid #ff00ff;  /* Neon green border */
  }
  /* Make the input fields larger and match the color scheme */
  .inputGroup input,
  .inputGroup select {
    width: 100%;
    padding: 15px;
    font-size: 1.5rem; /* Larger text */
    border-radius: 5px;
    border: 1px solid #ff00ff;  /* Neon green border */
    background-color: transparent;
    color: #ff00ff;  /* Neon green text color */
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  /* Adjust the input placeholder text to fit the color scheme */
  .inputGroup input::placeholder {
    font-size: 1.2rem;
    color: #ff00ff;  /* Lighter neon green placeholder text */
  }
  
  /* Style the prompt text */
  .prompt {
    font-size: 2rem; /* Larger prompt text */
    margin-bottom: 20px;
    text-align: center;
    color: #ff00ff;  /* Neon green text color */
    text-shadow: 
    0 0 10px rgba(255, 0, 255, 0.6), /* Neon pink glow */
    0 0 15px rgba(160, 32, 240, 0.6); /* Neon purple glow */

  }
  
  /* Style the estimated amount display */
  .estimatedAmount {
    font-size: 1.5rem;
    margin-top: 20px;
    text-align: center;
    color: #ff00ff;; /* Neon green color for emphasis */
  }
  .currencyButtonContainer:hover .currencyButton {
    border-color: #0070f3;
}
.currencyButton:hover {
  background-color: #0a0a0a;
  color: #ff00ff;
  box-shadow: 0 0 20px rgba(0, 255, 0, 0.6);
}
  /* Style the error message */
  .error {
    color: #ff4d4f; /* Red error color */
    font-size: 1.2rem;
    margin-top: 10px;
 
    vertical-align:center;
    text-align: center;
    font-weight: bold;
  }
  .palceholder 
  .cypxRow {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .cypxRow .currencyIcon{
    width: 100px;
   margin-bottom: 5px;
   
  }
  /* Style the swap button */
  .swapButton {
    width: 100%;
    padding: 15px;
    font-size: 1.5rem; /* Larger button text */
    border: none;
    border-radius: 4px;
    background-color: #0a0a0a; /* Neon green button background */
    color: #ff00ff;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
  }
  .rateTypeOptionBar label.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  .swapButton:disabled {
    background-color: #666; /* Grey out the button when disabled */
    cursor: not-allowed;
  }
  
  .swapButton:hover:enabled {
    background-color: #ff00ff;
    color:black;  /* Darker neon green on hover */
  }
  
  /* Additional styling for the input group to ensure proper spacing */
  .inputGroup {
    margin-bottom: 20px;
  }

  .currencyList {
        width: 100%;
        padding:50px;
        border:1px solid #ff00ff;
        border-radius: 10px;
      }

    .currencyButtonContainer {
display:inline-block;
position:relative;
      }
      
      /* Currency button styling */
      .currencyButton {
        padding: 15px 25px;
        background-color: transparent;
        color: #ff00ff; 
        border: 2px solid #ff00ff; 
        border-radius: 50%; /* Circular button */
        cursor: pointer;
        margin-inline:auto;
        transition: all 0.3s ease;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 1px;
    box-shadow: 0 0 20px rgb(0, 0, 0), 0 0 30px rgba(255, 255, 255, 0.4); /* More intense glow */
      }
      .currencyButton img {
        color:black;
       margin-inline:auto;
       
      }
      /* Hide the tooltip by default */
      .currencyTooltip {
        display: none;
        position: absolute;
        bottom: 100%; /* Position above the button */
        left: 50%;
        transform: translateX(-50%);
        background-color: #222;
        width: 250px;
        font-size: large;
        color: #fff;
        padding: 15px; /* Add more padding for spacing */
        border-radius: 5px;
        word-wrap: break-word; /* Ensure text wraps to the next line */
        word-break: break-word; /* Break words that are too long */
        white-space: normal; /* Allow text to wrap to the next line */
        z-index: 1000;
        box-shadow: 0 0 20px rgba(255, 0, 255, 1), 0 0 30px rgba(255, 0, 255, 0.8); /* Purple neon glow */
    }
    
    .tooltipDivider {
        height: 2px;
        background-color: #ff00ff; /* Purple neon divider */
        margin: 8px 0; /* Spacing around the divider */
    }
    
    /* Show the tooltip when hovering over the button */
    .currencyButtonContainer:hover .currencyTooltip {
        display: block;
    }
    .tooltipDivider {
        height: 2px;
        background-color: #ff00ff; /* Purple neon divider */
        margin: 8px 0; /* Spacing around the divider */
    }
   
      
      /* Ensure image is correctly sized and positioned */


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
.currencyButton img {
    width: 80%;
   
    height: 80%;
    object-fit: contain;
    border-radius: 50%;
}

  .currencyButton:hover {
    background-color: #0a0a0a;
    color: #ff00ff;

box-shadow: 0 0 20px rgb(0, 0, 0), 0 0 30px rgba(255, 255, 255, 0.4); /* More intense glow */
  }


  .feeBreakdownContainer {
    background-color: transparent;
    border: 1px solid #ff00ff;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;

box-shadow: 0 0 20px rgb(0, 0, 0), 0 0 30px rgba(255, 255, 255, 0.4); /* More intense glow */
 font-family: 'Orbitron', sans-serif; /* Apply the Orbitron font */
    color: #ff00ff;
    text-align: center;
  }
  
  .feeBreakdownTitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 
    0 0 10px rgba(255, 0, 255, 0.6), /* Neon pink glow */
    0 0 15px rgba(160, 32, 240, 0.6); /* Neon purple glow */
  }
  
  .feeItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 0.9rem;
  }
  
  .feeLabel {
    font-weight: bold;
  }
  
  .feeValue {
    font-family: 'Orbitron', sans-serif; /* Apply the Orbitron font */
  }
  
  .totalFee {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid rgba(255, 0, 225, 0.5);
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  /* Subtle Animation for Matrix-like effect */
  @keyframes subtleCyberGlow {
    0% {
        text-shadow: 0 0 1px rgba(255, 0, 255, 0.3), /* Subtle pink glow */
                    0 0 1px rgba(160, 32, 240, 0.3); /* Subtle purple glow */
    }
    50% {
        text-shadow: 0 0 2px rgba(255, 0, 255, 0.5), /* Slightly stronger pink glow */
                    0 0 2px rgba(160, 32, 240, 0.5); /* Slightly stronger purple glow */
    }
    100% {
        text-shadow: 0 0 1px rgba(255, 0, 255, 0.3), /* Subtle pink glow */
                    0 0 1px rgba(160, 32, 240, 0.3); /* Subtle purple glow */
    }
}

  
  .feeBreakdownContainer * {
    animation: subtleCyberGlow 4s infinite;
  }
  
  /* Mobile Styles */
  @media (max-width: 600px) {
    .feeBreakdownContainer {
      padding: 15px;
    }
  
    .feeBreakdownTitle {
      font-size: 1rem;
    }
  
    .feeItem {
      flex-direction: column;
      align-items: center;
      margin-bottom: 15px;
    }
  
    .feeLabel {
      margin-bottom: 5px;
    }
  
    .totalFee {
      font-size: 1rem;
    }
  }
  .inProgressButton {
    position: absolute;
    top: 25px;
   
 left: 55px;
    z-index:8848;
    padding: 15px 25px;
    background-color: transparent;
    color: #ff00ff; 
    border: 2px solid #ff00ff; 
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.3);
  }

  @media screen and (max-width: 767px) {
    .swapInterface {
      background-color: transparent; /* Dark background matching the statusDisplay */
      border-radius: 8px;
      padding: 20px;
      min-width:50%;
   
      margin: 0 auto;
  box-shadow: 0 0 20px rgb(0, 0, 0), 0 0 30px rgba(255, 255, 255, 0.4); /* More intense glow */
      color: #ff00ff;  /* Neon green text color */
      border: 2px solid #ff00ff;  /* Neon green border */
    }
    .container {
        padding: 10px; /* Reduce padding for smaller screens */
        max-width: 100%; /* Ensure the container takes full width */
        font-size: 0.9rem; /* Slightly reduce the font size */
    }

    .title {
        font-size: 3rem; /* Reduce title size for smaller screens */
        margin-bottom: 1rem; /* Adjust margin for better spacing */
    }

 

   
    .currencyGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        
        min-width:auto;
        margin-top: 30px;
      }
      
@media (max-width: 768px) {
    .detailedCurrencyInfoContainer {
        flex-direction: column;
    }

    .arrowIcon {
        font-size: 30px;
        transform: rotate(90deg); /* Rotate arrow for down direction */
    }
}

  /* Currency grid layout for mobile */

/* Container for the button and tooltip */
.currencyButtonContainer {
 height:100%;
    display: flex;
    flex-direction: column; /* Stack the button and tooltip vertically */
    align-items: center; /* Center align the content */
    margin: 10px;
    padding: 10px; /* Padding around the content */

    border-radius: 10px; /* Rounded corners for the container */
    
}

/* Currency button styling */


/* Styling the coin icon */
.currencyIcon {
    margin-right: 0; /* Remove any extra margin */
    vertical-align: middle;
    object-fit: contain;
}

/* Hover effect still applies for the border */
.currencyButtonContainer:hover .currencyButton {
    border-color: #0070f3;
}
.currencyButton:hover {
  background-color: #0a0a0a;
  color: #ff00ff;
  box-shadow: 0 0 20px rgba(0, 255, 0, 0.6);
}
/* Ensure image is correctly sized and positioned */
.currencyButton img {
    width: 40px; /* Adjust image size appropriately */
    height: 40px; 
    object-fit: contain;
    border-radius: 50%;
}

/* Adjust hover effect */

    
    .currencyButton, .swapButton, .inProgressButton, .sentButton {
        padding: 10px 15px; /* Adjust padding for buttons */
        font-size: 0.9rem; /* Slightly smaller font size */
    }
    .inputField {
        padding: 10px; /* Adjust padding inside input */
        font-size: 14px; /* Adjust font size */
    }

   

    .qrCodeContainer {
        margin: 1.5rem 0; /* Adjust QR code margin */
    }

    .qrCodePlaceholder {
        width: 150px; /* Adjust QR code placeholder size */
        height: 150px; /* Adjust QR code placeholder size */
        font-size: 12px; /* Adjust text size */
    }

    .modalContent {
        padding: 15px; /* Adjust padding inside modals */
        font-size: 0.9rem; /* Adjust modal font size */
    }

    .button {
        padding: 0.6rem 1.5rem; /* Adjust button padding */
        font-size: 1.2rem; /* Adjust button text size */
    }
    .addressDisplay {}
}
@media screen and (max-width: 767px) {
    .backButton {
      
        left: 10px; /* Adjust left positioning */
        margin-left: 5px;
        margin-bottom:5px; /* Remove margin-left for smaller screens */
        margin-top: 0; /* Remove margin-top for smaller screens */
        padding: 10px 10px; /* Adjust padding for smaller screens */
        font-size: 0.9rem; /* Slightly smaller font size */
        border-radius: 6px; /* Slightly less rounded corners */
        margin-top:18%;
        
    }
    .searchInput {
      margin:auto;
      padding-left:5px;
      width:99%;
    }
}
@media screen and (max-width: 767px) {
    .title {
        font-size: 3rem; /* Smaller title size for mobile */
    }

 

   
}

/* Mobile styling */
@media only screen and (max-width: 600px) {
  .currencyTooltip {
      width: 200px;
      font-size: medium;
      padding: 10px;
  }

  .currencyButtonContainer {
      margin-bottom: 15px;
  }

  .currencyTooltip {
      left: 50%;
      transform: translateX(-50%);
  }

  /* Adjust tooltip positioning to prevent it from being cut off */
  .currencyButtonContainer {
      position: relative;
  }

  .currencyTooltip::before {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      border-width: 5px;
      border-style: solid;
      border-color: #222 transparent transparent transparent;
  }

  .currencyButtonContainer:hover .currencyTooltip {
      display: block;
  }

  /* Adjust positioning if tooltip is cut off on the left side */
  .currencyTooltip {
      left: auto;
      right: 0;
      transform: none;
  }

  /* Adjust positioning if tooltip is cut off on the right side */
  .currencyTooltip {
      right: auto;
      left: 0;
      transform: none;
  }
}
